.img_icons {
  width: 80px;
}
.back_img_div {
  background-image: url('../../assets/images/backimg.png');
  background-repeat: no-repeat;
  height: 250px;
  background-position-x: center;
  position: relative;
  width: 100%;
}
.uper_div_img {
  position: relative;
}
.icon_div_img {
  // width: 280px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  margin-top: 20px;
}
