.w-div {
  width: 300px;
  max-width: 100%;
  h6 {
    font-size: 16px;
    cursor: pointer;
  }
}
.pad_footer {
  padding: 5px 0;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  cursor: pointer;
}
