.footer_main {
  background-color: #222222;
  // height: 400px;
  color: #fff;
}
.pd_cl {
  padding: 90px 30px;
}
.footer_inner {
  height: 100px;
  background-color: #111111;
  color: #fff;
  display: flex;
  align-items: center;
}
.colr {
  color: #aaaaaa;
}
.pd {
  padding: 5px 0px;
  color: #aaaaaa;
  cursor: pointer;
}
