* {
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
//font size
.fs_s11 {
  font-size: 11px;
}

.fs_s13 {
  font-size: 13px;
}
.fs_s30 {
  font-size: 30px;
}
.fs_s50 {
  font-size: 50px;
}
//font-weight
.fs_w {
  font-weight: 700 !important;
}
